<a href="https://colab.research.google.com/github/anandgaurav2011/pyspark-colab/blob/main/spark_basic_mapreduce.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.1.tar.gz (281.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 281.4/281.4 MB 5.2 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 199.7/199.7 KB 15.6 MB/s eta 0:00:00
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.1-py2.py3-none-any.whl size=281845512 sha256=471ab77374d07d0ac417457513affb6a8cc59f6a245b5f49f457dc31b1bd8e82
  Stored in directory: /root/.cache/pip/wheels/43/dc/11/ec201cd671da62fa9c5cc77078235e40722170ceba231d7598
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.1

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
#Create spark session object 
spark =SparkSession.builder.master("local[4]")\
  .appName('Vaibhav')\
  .getOrCreate()

In [ ]:
#Spark Context Object 
sc=spark.sparkContext

In [ ]:
#create RDD from list 
rdd=sc.parallelize([1,2,3,4,5,6,7,8])
print(rdd.collect())
print("number of partititionss :",rdd.getNumPartitions())

[1, 2, 3, 4, 5, 6, 7, 8]
number of partititionss : 4

In [ ]:
rdd2=rdd.repartition(2)
print("number of partititionss :",rdd2.getNumPartitions())

number of partititionss : 2

In [ ]:
rdd.saveAsTextFile('data1')

In [ ]:
rdd2.saveAsTextFile('data2')

In [ ]:
rdd=sc.textFile('/content/drive/MyDrive/Colab Notebooks/spark/dataset/fruit.txt')

In [ ]:
rdd.collect()

['Apple Orange Mango',
 'Orange Grapes Plum',
 'Apple Plum Mango',
 'Apple Apple Plum',
 '',
 '']

In [ ]:
rdd1=sc.textFile('/content/drive/MyDrive/Colab Notebooks/spark/dataset/fruits1.txt,/content/drive/MyDrive/Colab Notebooks/spark/dataset/fruits2.txt')

In [ ]:
rdd1.collect()

['Pineapple Apple Mango',
 'Mango Banana Berry',
 'Cherry Mango Apple',
 'Banana Apple Cherry',
 'आंबा केळी संत्रा लिंबू \tपेरू',
 'पेरू आंबा केळी लिंबू',
 'संत्रा पेरू सफरचंद',
 'सफरचंद पेरू केळी',
 'सफरचंद संत्र']

In [ ]:
rdd2=rdd1.flatMap(lambda x: x.split())
rdd2.collect()

['Pineapple',
 'Apple',
 'Mango',
 'Mango',
 'Banana',
 'Berry',
 'Cherry',
 'Mango',
 'Apple',
 'Banana',
 'Apple',
 'Cherry',
 'आंबा',
 'केळी',
 'संत्रा',
 'लिंबू',
 'पेरू',
 'पेरू',
 'आंबा',
 'केळी',
 'लिंबू',
 'संत्रा',
 'पेरू',
 'सफरचंद',
 'सफरचंद',
 'पेरू',
 'केळी',
 'सफरचंद',
 'संत्र']

In [ ]:
rdd3=rdd2.map(lambda x: (x,1))
rdd3.collect()

[('Pineapple', 1),
 ('Apple', 1),
 ('Mango', 1),
 ('Mango', 1),
 ('Banana', 1),
 ('Berry', 1),
 ('Cherry', 1),
 ('Mango', 1),
 ('Apple', 1),
 ('Banana', 1),
 ('Apple', 1),
 ('Cherry', 1),
 ('आंबा', 1),
 ('केळी', 1),
 ('संत्रा', 1),
 ('लिंबू', 1),
 ('पेरू', 1),
 ('पेरू', 1),
 ('आंबा', 1),
 ('केळी', 1),
 ('लिंबू', 1),
 ('संत्रा', 1),
 ('पेरू', 1),
 ('सफरचंद', 1),
 ('सफरचंद', 1),
 ('पेरू', 1),
 ('केळी', 1),
 ('सफरचंद', 1),
 ('संत्र', 1)]

In [ ]:
rdd4=rdd3.reduceByKey(lambda a,b :a+b)

In [ ]:
rdd4.collect()

[('Apple', 3),
 ('केळी', 3),
 ('सफरचंद', 3),
 ('Pineapple', 1),
 ('Banana', 2),
 ('आंबा', 2),
 ('संत्रा', 2),
 ('संत्र', 1),
 ('Mango', 3),
 ('Berry', 1),
 ('Cherry', 2),
 ('लिंबू', 2),
 ('पेरू', 4)]

In [ ]:
rdd5=rdd4.map(lambda x:(x[1],x[0])).sortByKey()
rdd5.collect()

[(1, 'Pineapple'),
 (1, 'संत्र'),
 (1, 'Berry'),
 (2, 'Banana'),
 (2, 'आंबा'),
 (2, 'संत्रा'),
 (2, 'Cherry'),
 (2, 'लिंबू'),
 (3, 'Apple'),
 (3, 'केळी'),
 (3, 'सफरचंद'),
 (3, 'Mango'),
 (4, 'पेरू')]

In [ ]:
#can use above or this code for sorting 
rdd5=rdd4.map(lambda x:(x[0],x[1])).sortByKey()
rdd5.collect()

[('Apple', 3),
 ('Banana', 2),
 ('Berry', 1),
 ('Cherry', 2),
 ('Mango', 3),
 ('Pineapple', 1),
 ('आंबा', 2),
 ('केळी', 3),
 ('पेरू', 4),
 ('लिंबू', 2),
 ('संत्र', 1),
 ('संत्रा', 2),
 ('सफरचंद', 3)]

In [ ]:
rdd6=rdd3.filter(lambda x: x[0].startswith('B'))
print(rdd6.collect())

[('Banana', 1), ('Berry', 1), ('Banana', 1)]

word count program

In [ ]:
#read the input file Calculating word count
text_file=sc.textFile('/content/drive/MyDrive/Colab Notebooks/spark/dataset/fruits1.txt')
counts=text_file.flatMap(lambda line: line.split(" "))\
                          .map(lambda word: (word,1))\
                          .reduceByKey(lambda x,y: x+y)

In [ ]:
#Printing each word with its respective count 
output=counts.collect()
for(word,count) in output:
      print("%s,%i"%(word,count))

Pineapple,1
Apple,3
Berry,1
Cherry,2
Mango,3
Banana,2

counting avg of numbers from a file

In [ ]:

df=sc.textFile('/content/drive/MyDrive/Colab Notebooks/spark/dataset/ages.txt')
counts=df.flatMap(lambda line: line.split())\
                        .filter(lambda x: x.isdigit())\
                        .map(lambda word: (1,int(word)))

In [ ]:
def average(rdd):
  add=0; count=0
  for x,y in rdd.collect():
    add += y
    count +=1
    return(sc.parallelize(['Average is ',add/count]))

In [ ]:
val=average(counts)
val.collect()

['Average is ', 23.0]

In [ ]:
Basic functions

In [ ]:
rdd=sc.parallelize([1,2,3,4,5,6,7,8])

In [ ]:
print("Count : "+str(rdd.count()))

Count : 8

In [ ]:
firstRec=rdd.first()
print("First Record :",str(firstRec))

First Record : 1

In [ ]:
print('Maximum',rdd.max())

Maximum 8

In [ ]:
print('Take 3:',rdd.take(3))

Take 3: [1, 2, 3]

In [ ]:
rdd.sum()

36

In [ ]:
rdd.mean()

4.5